body {
    font-family: Calibri, Candara, "Gill Sans", "Gill Sans MT", sans-serif;
    color: #000;
    font-size: 100%;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #666;
}

nav {
    display: none;
}

.screenreader {
    display: none;
}

.largest-text {
    font-size: 2.5em;
    color: #000;
}

.larger-text {
    font-size: 1.75em;
}

.big-text {
    font-size: 1.25em;
    font-weight: bold;
}

.section-subheader {
    font-size: 1.125em;
    font-style: italic;
}

section .content {
    margin: 0 3.125%; /* 30px / 960px */
}

section .big-text {
    margin: 0 2.08333333333% 5px 2.08333333333%; /* 20px / 960px */
    text-decoration: underline;
}

.back-to-top {
    display: none;
}

section#resume {
    overflow: hidden;
}

#author,
#tagline
{
    text-align: center;
}

#tagline {
    color: #666;
}

#contact {
    text-align: center;
    color: #999;
}

#contact li {
    display: inline-block;
}

#contact li:after {
    content: " |";
}

#contact li:last-child:after {
    content: "";
}

#profile,
#technical,
#experience,
#awards,
#education,
#references
{
    padding: 10px 0;
    margin-bottom: 10px;
}

#technical ul,
#experience ul,
#education ul,
#awards .description ul {
    padding: 0 3.125% 10px 3.125%;
}

#technical ul li {
    display: inline;
}

#technical ul li:after {
    content: ", ";
}

#technical ul li:last-child:after {
    content: "";
}

#experience div,
#education div {
    display: inline-block;
}

#experience ul li,
#education ul li
{
    display: list-item;
    list-style-type: disc;
    margin-left: 1.04666666667%;
}

#experience .big-text {
    margin-bottom: 0;
}

#experience .job {
    margin-top: 5px;
    margin-bottom: 10px;
}

#experience .title,
#education .title
{
    font-weight: bold;
}

#education .schoolName:after {
    content: " -";
}

#education .description {
    display: block;
}

#awards .award {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 3.125%;
    margin-right: 3.125%;
}

#awards .award div {
    display: inline-block;
}

#awards .title {
    font-weight: bold;
}

#awards .title:after {
    content: " -";
}

#awards .description ul li {
    display: list-item;
    list-style-type: disc;
    margin-left: 3.125%;
}