<!DOCTYPE html>
<html lang="en" ng-app="resumeApp" ng-controller="ResumeController">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{{ data.name }} - {{ data.position }}</title>

    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/lib/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    <link href="/css/styles.css" type="text/css" rel="stylesheet">
</head>
<body>
    <a id="top"></a>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#top">{{ data.name }}</a>
            </div>

            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#profile">Profile</a></li>
                    <li><a href="#technical">Technical</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#references">References</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container-fluid">

        <section id="contactInfo">
            <h1 id="author" class="largest-text">{{ data.name }}</h1>
            <h2 id="tagline" class="larger-text">{{ data.position }}</h2>

            <address id="contact">
                <ul>
                    <li class="contact phone home">H<span>ome</span> {{ data.contact.home }}</li>
                    <li class="contact phone mobile">M<span>obile</span> {{ data.contact.mobile }}</li>
                    <li class="contact email">E<span>mail</span> {{ data.contact.email }}</li>
                </ul>
            </address>
        </section>

        <section id="profile" class="col-xs-12">
            <div class="border">
                <h3>Profile</h3>
                <div class="content">
                    <p>{{ data.profile }}</p>
                </div>
                <back-to-top></back-to-top>
            </div>
        </section>

        <section id="technical" class="col-xs-12 col-sm-8">
            <div class="border">
                <div class="filter hidden-xs">
                    <label for="technicalFilter">Filter</label>
                    <input type="text" ng-model="technicalFilter" id="technicalFilter">
                </div>
                <h3>Technical Proficiencies</h3>
                <div class="content">
                    <div class="skill" ng-repeat="skill in data.technical | filter:technicalFilter">
                        <h5 class="section-subheader">{{ skill.title }}</h5>
                        <ul>
                            <li ng-repeat="entry in skill.entries">{{ entry }}</li>
                        </ul>
                    </div>
                </div>
                <back-to-top></back-to-top>
            </div>
        </section>

        <section id="experience" class="col-xs-12 col-sm-8">
            <div class="border">
                <div class="filter hidden-xs">
                    <label for="experienceFilter">Filter</label>
                    <input type="text" ng-model="experienceFilter" id="experienceFilter">
                </div>
                <h3>Professional Experience</h3>
                <div class="content">
                    <div class="job" ng-repeat="job in data.experience | filter:experienceFilter">
                        <div class="title">{{ job.title }}</div>
                        <div class="company">{{ job.company }}</div>
                        <div class="location">{{ job.location }}</div>
                        <div class="time">{{ job.years[0] }}-{{ job.years[job.years.length-1] }}</div>
                        <h5>Responsibilities:</h5>
                        <ul class="responsibilities">
                            <li ng-repeat="entry in job.responsibilities">{{ entry }}</li>
                        </ul>
                    </div>
                </div>
                <back-to-top></back-to-top>
            </div>
        </section>

        <section id="education" class="col-xs-12 col-sm-4">
            <div class="border">
                <h3 class="big-text">Education</h3>
                <div class="content">
                    <div class="education" ng-repeat="education in data.education">
                        <div class="title">{{ education.title }}</div>
                        <div class="type">{{ education.type }}</div>
                        <div class="graduationYear">{{ education.grad_year }}</div>
                        <div class="gpa">(GPA {{ education.gpa }})</div>
                        <div class="schoolName">{{ education.school_name }}</div>
                        <div class="schoolLocation">{{ education.school_location }}</div>
                        <div class="description">
                            <ul>
                                <li ng-repeat="entry in education.skills">{{ entry }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <back-to-top></back-to-top>
            </div>
        </section>

        <section id="references" class="col-xs-12 col-sm-4">
            <div class="border">
                <h3 class="big-text">References</h3>
                <div class="content">
                    <p>
                        Available upon request or via my <a ng-href="{{ data.references.url }}">Linkedin profile.</a>
                    </p>
                </div>
                <back-to-top></back-to-top>
            </div>
        </section>

    </div>

    <footer id="mainFooter" class="footer inverted">
        <div class="container-fluid">
            <ul>
                <li class="contact phone home">Home {{ data.contact.home }}</li>
                <li class="contact phone mobile">Mobile {{ data.contact.mobile }}</li>
                <li class="contact email">Email {{ data.contact.email }}</li>
            </ul>
        </div>
    </footer>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-highlight/jquery.highlight.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-resource/angular-resource.min.js"></script>
    <script src="/js/resumeapp/app.js"></script>
    <script src="/js/jquery/highlight.js"></script>
</body>
</html>
