body {
    font-family: Calibri, Candara, "Gill Sans", "Gill Sans MT", sans-serif;
}

section {
    h3 {
        font-weight: bold;
    }

    h5 {
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 5px;
    }

    .border {
        border: 2px solid #666666;
        border-radius: 10px;
    }
}

@media print {
    body {
        font-size: 16px;
    }
}
