section {
    margin-bottom: 20px;

    h3 {
        margin-top: 0px;
    }

    .border {
        padding: 10px;

        .back-to-top {
            display: block;
            text-align: right;
        }
    }
}
